
*.exe
*.iobj
*.ipdb
*.pdb
*.ilk
*.obj
*.tlog
*.log
*.pch
*.idb
*.res
.vs/SoftwareRenderer/v15/.suo
.vs/SoftwareRenderer/v15/Browse.VC.db
.vs/SoftwareRenderer/v15/ipch/37985e10a2ae4ff9.ipch
.vs/SoftwareRenderer/v15/ipch/6f73007b1f0efaac.ipch
.vs/SoftwareRenderer/v15/ipch/9293c239aaec3f26.ipch
.vs/SoftwareRenderer/v15/ipch/AutoPCH/217af92a9510cbfe/WINDOWS.ipch
.vs/SoftwareRenderer/v15/ipch/AutoPCH/ceb059189bc6e230/SOFTWARERENDERER.ipch
.vs/SoftwareRenderer/v15/ipch/e7fffa7c2569e916.ipch
.vs/SoftwareRenderer/v15/ipch/f5767d28c3fb70cf.ipch
.vs/SoftwareRenderer/v15/ipch/fdd540d72d416a29.ipch
.vs/SoftwareRenderer/v15/Browse.VC.opendb
